html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo,
.logo svg.fa {
  /* background: linear-gradient(133deg, #fff, #000); */
  background-size: 400% 400% !important;

  -webkit-animation: logoAnimation 20s ease infinite;
  -moz-animation: logoAnimation 20s ease infinite;
  animation: logoAnimation 20s ease infinite;
}
.logo svg.fa {
  fill: url(#rg);
  /* -webkit-animation: logoAnimation 20s ease infinite;
  -moz-animation: logoAnimation 20s ease infinite;
  animation: logoAnimation 20s ease infinite; */
}
@-webkit-keyframes logoAnimation {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@-moz-keyframes logoAnimation {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@keyframes logoAnimation {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--chakra-colors-red-200) !important;
}

/* markdown editor */
/* responsive */

.w-md-editor-content {
  display: grid;
  height: calc(stretch - 39.1px) !important;
  /* height: calc(stretch - 39.1px) !important;
  height: calc(stretch - 39.1px) !important; */
  grid-template-columns: auto auto;
}
.wmde-markdown.w-md-editor-preview {
  position: relative;
  width: 100% !important;
}
.w-md-editor-input {
  width: 100% !important;
}
@media screen and (max-width: 768px) {
  .wmde-markdown-var.w-md-editor.w-md-editor-show-live {
    /* height: 300px !important; */
  }
  .wmde-markdown.wmde-markdown-color.w-md-editor-preview {
    border-left: 0 !important;
    border-top-width: 1px !important;
  }
  .w-md-editor-content {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto !important;
  }
}

.w-md-editor-toolbar {
  height: auto !important;

  /* display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* justify */
}
/* .w-md-editor {
  border-radius: 20px !important;
} */
[data-color-mode*="dark"] .wmde-markdown,
[data-color-mode*="dark"] .wmde-markdown-var,
body[data-color-mode*="dark"] {
  color-scheme: dark;
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #8b949e;
  --color-fg-subtle: #484f58;
  --color-canvas-default: var(--chakra-colors-dark-primary2) !important;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-neutral-muted: rgba(110, 118, 129, 0.4);
  --color-accent-fg: #58a6ff;
  --color-accent-emphasis: #1f6feb;
  --color-attention-subtle: rgba(187, 128, 9, 0.15);
  --color-danger-fg: #f85149;
}
